# Flutter/Dart/Pub
pubspec.lock
.packages
.metadata
.dart_tool/
build/
**/doc/api/
.pub-cache/
.pub/

# Android

# iOS
**/ios/Flutter/.last_build_id

# Web
lib/generated_plugin_registrant.dart

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
